{% extends "dmabase.html" %}
{% block container %}
<div id="body" class="container-fluid">
{% if template_ajax_name %}{% include template_ajax_name %}{% endif %}
</div>
{% endblock container %}
{% block script %}
<script>
    var page_tables_url = '{% url "djangomyadmin.page_tables" "0" %}';
    function setBreadcrumb(database_name, table_name) {
        $('ol.breadcrumb.menu li').remove();
        $('ol.breadcrumb.menu').append('<li><a href="{% url "djangomyadmin.index" %}" data-target="body">Home</a></li>');
        if(database_name !== undefined) {
            var url = page_tables_url.replace('0', database_name);
            $('ol.breadcrumb.menu').append('<li><a href="' + url + '" data-target="body">' + database_name + '</a></li>');
        }
        if(table_name !== undefined) {
            var table_url = page_tables_url.replace('0', table_name);
            $('ol.breadcrumb.menu').append('<li><a href="' + table_url + '" data-target="body">' + table_name + '</a></li>');
        }
    }

    function loadPage(url){    
        $.get(url, function(html){
            $('#body').html(html);
            $('#body').data('href', url);
        });
    }
    
    $(document).ready(function(){
        // {% if database_name %}
        //     var db_url = '{% url 'djangomyadmin.page_tables' database_name %}';
        // {% else %}
        //     var db_url = '{% url "djangomyadmin.page_databases" %}';
        // {% endif %}
        // $.get(db_url, function(html){
        //     $('#body').html(html);
        //     $('#body').data('href', db_url);
        // });

        {% if not template_ajax_name %}
        var script_url = '{% url "djangomyadmin.page_scripts" %}';
        $.get(script_url, function(html){
            $('#body').html(html);
            $('#body').data('href', script_url);
        });
        {% endif %}
        $(document).on('click', 'a[data-target]', function(){
            var target = $(this).data('target');
            var href = $(this).attr('href');
            $.get(href, function(html){
                $('#'+target).html(html);
                $('#'+target).data('href', href);
            });
            return false;
        });
        setBreadcrumb();
    });
</script>
{% endblock script %}