{% load static %}
{% regroup collations|dictsort:"character_set_name" by character_set_name as collation_list %}

<div class="inner-body">
    <div style="display:none;" id='collations_elem'>
        <select class="form-control" name="field_collation[#]">\
            <option value="">Collation</option>
            {% for collation in collation_list %}
              <optgroup label="{{ collation.grouper }}">
              {% for item in collation.list %}
                    <option value="{{ item.collation_name }}">{{ item.collation_name }}</option>
              {% endfor %} 
               </optgroup>                              
            {% endfor %}              
        </select>
    </div>
    <form class="form-inline" method="post" id="createTableForm">
        {% csrf_token %}        
        <input type="hidden" name="columns_num" value="{{columns_num}}">
        <div class="alertbox">            
        </div>
        <div class="row">
            <div class="col-sm-6" style="margin-top: 21px;margin-bottom: 21px;">
                <div class="form-group col">
                    <label class="" for="createTableName">Table Name</label>
                    <input type="text" class="form-control" id="createTableName" placeholder="Table name" name="table_name" value="{{ table_name }}">
                </div>
            </div>
            <div class="col-sm-6" style="margin-top: 21px; margin-bottom: 21px; text-align: right;">
                <div class="form-group">
                    <label class="" for="columnsNum">Add column(s)</label>
                    <input type="text" class="form-control" id="columnsNum" value="0"/>
                </div>
                <button id="addBtn" type="button" class="btn btn-default">Add</button>
            </div>
        </div>
        
        <div class="rows">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Length/Values</th>
                            <th>Default</th>
                            <th>Collation</th>
                            <th>Attribute</th>
                            <th>Null</th>
                            <th>Index</th>
                            <th>AI</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody id="tb_table">                    
                                           
                    </tbody>
                </table>
            </div>
        </div>
        <div class="rows">
            <div class="col-sm-4">
                <label class="" for="tbl_comments">Comments:</label>
                <input type="text" class="form-control" name="tbl_comments" size="12" value="" placeholder="Table comment">
            </div>
            <div class="col-sm-4">
                <label class="" for="tbl_storage_engine">Storage Engine:</label>
                <select class="form-control" name="tbl_storage_engine">
                    {% for engine in engines %}
                        <option value="{{engine.engine}}" {% if engine.support == 'DEFAULT' %}selected="selected"{% endif %}>{{engine.engine}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4">
                <label class="" for="tbl_collation">Collation:</label>
                <select class="form-control" name="tbl_collation">
                    <option value="">Collation</option>
                    
                    {% for collation in collation_list %}
                          <optgroup label="{{ collation.grouper }}">
                          {% for item in collation.list %}
                                <option value="{{ item.collation_name }}">{{ item.collation_name }}</option>
                          {% endfor %}   
                          </optgroup>                           
                    {% endfor %}                            
                </select>
            </div>
        </div>
        <button type="submit" name="createTable" class="btn btn-default">Create</button>
    </form>
</div>
{% block script %}
<script src="{% static 'djangomyadmin/js/modify_table.js' %}"></script>
<script>    
    $(document).ready(function(){
        $('#collationSelect').chosen();
        
        setBreadcrumb('{{ database_name}}');
        addRows({{columns_num}});
        bindDefaultType();

        $('#addBtn').click(function(){
            addRows($('#columnsNum').val());
        });
       
        $('#createTableForm').on('submit', function( event ) {
            event.preventDefault();
            console.log( $( this ).serialize() );
            error_msg = validate();
            if(!error_msg){
                $.post('{% url 'djangomyadmin.ajax_create_table' database_name %}', $(this).serialize(), function(data){
                    console.log(data);
                    if(data.success){
                        loadPage('{% url 'djangomyadmin.page_table_structure' database_name table_name %}');
                    }
                    else{
                        $('.alertbox').html('<div class="alert alert-danger" role="alert">'+data.msg+'</div>');
                    }                    
                });
            }
            else{
                $('.alertbox').html('<div class="alert alert-warning" role="alert">'+error_msg+'</div>');
            }
            return false;
        });
    });
</script>
{% endblock script %}
