{% load static %}
<div class="inner-body">
    <div class="rows">
        <div class="col-sm-4">
            <h1>Databases</h1>
        </div>
        <div class="col-sm-8" style="margin-top: 21px; text-align: right;">
            <form class="form-inline" method="post" id="createDatabaseForm">
                {% csrf_token %}
                <div class="alertbox">            
                </div>
                <div class="form-group">
                    <label for="createDatabaseName">Create database</label>
                    <input type="text" class="form-control" id="createDatabaseName" name="database_name" placeholder="Database name">
                </div>
                <div class="form-group" style="text-align: left;">
                    <label class="sr-only" for="collation">Collation</label>
                    <select class="form-control" id="collationSelect" name="collation">
                        <option value="">Collation</option>
                        {% regroup collations|dictsort:"character_set_name" by character_set_name as collation_list %}
                        {% for collation in collation_list %}
                              <optgroup label="{{ collation.grouper }}">
                              {% for item in collation.list %}
                                    <option value="{{ item.collation_name }}">{{ item.collation_name }}</option>
                              {% endfor %}  
                              </optgroup>                            
                        {% endfor %}                                    
                    </select>
                </div>
                <button type="submit" name="createDatabase" class="btn btn-default">Create</button>
            </form>
        </div>
    </div>
    
    <div class="rows">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Database</th>
                    </tr>
                </thead>
                <tbody>
                    {% for database in databases %}
                        <tr>
                            <td><a href="{% url 'djangomyadmin.page_tables' database %}" data-target="body">{{ database }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#collationSelect').chosen();
        setBreadcrumb();
        $('#createDatabaseForm').on('submit', function( event ) {
            event.preventDefault();
            console.log( $( this ).serialize() );            
            
            $.post('{% url 'djangomyadmin.ajax_create_database' %}', $(this).serialize(), function(data){
                console.log(data);
                if(data.success){                    
                    var url = '{% url 'djangomyadmin.page_tables' '0' %}'.replace("0", $('#createDatabaseName').val())
                    loadPage(url);
                }
                else{
                    $('.alertbox').html('<div class="alert alert-danger" role="alert">'+data.msg+'</div>');
                }                    
            });                
            return false;
        });
    });
</script>