{% load static %}
<div class="inner-body">
    <div class="alertbox">        
    </div>
    <div class="rows">
        <div class="col-sm-6">
            <h1>Tables</h1>
        </div>
        <div class="col-sm-6" style="margin-top: 21px; text-align: right;">            
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="createTableName">Name</label>
                    <input type="text" class="form-control" id="createTableName" placeholder="Table name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="columnsTxt">Columns</label>
                    <input type="text" class="form-control" id="columnsNum" name="columns" />
                </div>
                <button id="createBtn" type="button" class="btn btn-default">Create</button>
            </form>
        </div>
    </div>
    
    <div class="rows">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Table</th>
                        <th>Action</th>
                        <th>Type</th>
                        <th>Collation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in tables %}
                        <tr>
                            <td align="center"><input type="checkbox" name="selected_tbl[]" value="{{ table }}"></td>
                            <td><a href="{% url 'djangomyadmin.page_table' database_name table.table_name %}" data-target="body">{{ table.table_name }}</a></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span></a> 
                                <a href="{% url 'djangomyadmin.ajax_delete_table' database_name table.table_name %}"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                            <td>{{ table.engine }}</td>
                            <td>{{ table.table_collation }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block script %}
<script>
    $(document).ready(function(){
        $('#collationSelect').chosen();
        $.get('{% url "djangomyadmin.sidebar_tables" database_name %}', function(html){
            $('#sidebarBody').html(html);
        });
        setBreadcrumb('{{ database_name}}');

        $('#createBtn').click(function(){
            table_name = $('#createTableName').val();
            columns_num = $('#columnsNum').val();

            if(table_name.length > 0 && columns_num >0){
                loadPage('{% url 'djangomyadmin.page_create_table' database_name %}?table_name=' + table_name + '&columns_num=' + columns_num);                
            }
            else{
                alert('Incorrect values');
            }
        });

        $('a>span.glyphicon-trash').click(function(){            
            var database_name = '{{ database_name }}';
            var table_name = $(this).parent().parent().prev().text();
            var elem = $(this);
            if(confirm('Drop ' + table_name.toUpperCase() + ' of ' + database_name.toUpperCase() + '?')){
                $.getJSON($(this).parent().attr('href'), function(data){
                    console.log(data);
                    if(data.success){
                        elem.parent().parent().parent().remove();
                    }
                    else{
                        $('.alertbox').html('<div class="alert alert-danger" role="alert">'+data.msg+'</div>');
                    }        
                });
            }
            return false;
        });
    });
</script>
{% endblock script %}