{% load static %}
<div class="sub-menu">
    <ul class="nav-menu">
        <li><a href="{% url 'djangomyadmin.page_table' database_name table_name %}" data-target="body">Browse</a></li>
        <li><a href="{% url 'djangomyadmin.page_table_structure' database_name table_name %}" class="active" data-target="body">Structure</a></li>
        <li><a href="#" data-target="body">Export</a></li>
        <li><a href="#" data-target="body">Import</a></li>
        <li><a href="#" data-target="body">Operation</a></li>
    </ul>
</div>
<div class="inner-body">
    <div class="alertbox">        
    </div>
    <div class="rows">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Collation</th>
                        <th>Null</th>
                        <th>Default</th>
                        <th>Extra</th>
                    </tr>
                </thead>
                <tbody>
                    {% for column in columns %}
                        <tr>
                            <td align="center">
                                <input type="checkbox" name="selected_tbl[]"> 
                                <a href="{% url 'djangomyadmin.page_edit_table' database_name table_name %}?name={{column.column_name}}" data-target="body"><span class="glyphicon glyphicon-edit"></span></a> 
                                <a href="{% url 'djangomyadmin.ajax_delete_column' database_name table_name column.column_name%}"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                            <td>{{ column }}</td>
                            <td>{{ column.column_type }}</td>
                            <td>{{ column.collation_name|default:'' }}</td>
                            <td>{{ column.is_nullable }}</td>
                            <td>{% if column.is_nullable == 'NO' and not column.column_default %}<i style="color: #555">None</i>{% else %}{{ column.column_default|default_if_none:'<i>NULL</i>' }}{% endif %}</td>
                            <td>{{ column.extra }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#collationSelect').chosen();
        setBreadcrumb('{{ database_name}}', '{{ table_name }}');

        $('a>span.glyphicon-trash').click(function(){            
            var table_name = '{{ table_name }}';
            var column_name = $(this).parent().parent().next().text();
            var elem = $(this);
            if(confirm('Drop ' + column_name.toUpperCase() + ' of ' + table_name.toUpperCase() + '?')){
                $.getJSON($(this).parent().attr('href'), function(data){
                    console.log(data);
                    if(data.success){
                        elem.parent().parent().parent().remove();
                    }
                    else{
                        $('.alertbox').html('<div class="alert alert-danger" role="alert">'+data.msg+'</div>');
                    }        
                });
            }
            return false;
        });       
    });
</script>